<div class="actions">
    <button>Search</button>                  
    <button [routerLink]="['/registration']">Register</button>
    <button>Stop Monitoring</button>                  
    <div class="form-group">
      <select>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
    <!-- <button type="button">Excel</button>             -->
</div>
<!-- <div class="button-container">
    <button mat-button (click)="onSearch()">Search</button>
    <button mat-button (click)="onRegister()">Register</button>
    <button mat-button (click)="onStopMonitoring()">Stop Monitoring</button>
</div> -->